<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FlowClip</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>x86_64</string>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>18</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>1C6AC1622D621AE7318C8C2A7CD1360BA183BBB6</string>
				<key>dateExpires</key>
				<string>12/16/30</string>
				<key>type</key>
				<string>Developer ID Application</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>2039.1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1C6AC1622D621AE7318C8C2A7CD1360BA183BBB6</string>
						<key>dateExpires</key>
						<string>12/16/30</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>embeddedBinaries</key>
					<array>
						<dict>
							<key>architectures</key>
							<array>
								<string>x86_64</string>
								<string>arm64</string>
							</array>
							<key>certificate</key>
							<dict>
								<key>SHA1</key>
								<string>1C6AC1622D621AE7318C8C2A7CD1360BA183BBB6</string>
								<key>dateExpires</key>
								<string>12/16/30</string>
								<key>type</key>
								<string>Developer ID Application</string>
							</dict>
							<key>entitlements</key>
							<dict>
								<key>com.apple.application-identifier</key>
								<string>org.sparkle-project.Sparkle.Autoupdate</string>
							</dict>
							<key>name</key>
							<string>Autoupdate</string>
							<key>team</key>
							<dict>
								<key>id</key>
								<string>79Q5RV23F9</string>
								<key>name</key>
								<string></string>
							</dict>
						</dict>
						<dict>
							<key>architectures</key>
							<array>
								<string>x86_64</string>
								<string>arm64</string>
							</array>
							<key>buildNumber</key>
							<string>2039.1</string>
							<key>certificate</key>
							<dict>
								<key>SHA1</key>
								<string>1C6AC1622D621AE7318C8C2A7CD1360BA183BBB6</string>
								<key>dateExpires</key>
								<string>12/16/30</string>
								<key>type</key>
								<string>Developer ID Application</string>
							</dict>
							<key>name</key>
							<string>Updater.app</string>
							<key>team</key>
							<dict>
								<key>id</key>
								<string>79Q5RV23F9</string>
								<key>name</key>
								<string></string>
							</dict>
							<key>versionNumber</key>
							<string>2.6.4</string>
						</dict>
						<dict>
							<key>architectures</key>
							<array>
								<string>x86_64</string>
								<string>arm64</string>
							</array>
							<key>buildNumber</key>
							<string>2039.1</string>
							<key>certificate</key>
							<dict>
								<key>SHA1</key>
								<string>1C6AC1622D621AE7318C8C2A7CD1360BA183BBB6</string>
								<key>dateExpires</key>
								<string>12/16/30</string>
								<key>type</key>
								<string>Developer ID Application</string>
							</dict>
							<key>name</key>
							<string>Downloader.xpc</string>
							<key>team</key>
							<dict>
								<key>id</key>
								<string>79Q5RV23F9</string>
								<key>name</key>
								<string></string>
							</dict>
							<key>versionNumber</key>
							<string>2.6.4</string>
						</dict>
						<dict>
							<key>architectures</key>
							<array>
								<string>x86_64</string>
								<string>arm64</string>
							</array>
							<key>buildNumber</key>
							<string>2039.1</string>
							<key>certificate</key>
							<dict>
								<key>SHA1</key>
								<string>1C6AC1622D621AE7318C8C2A7CD1360BA183BBB6</string>
								<key>dateExpires</key>
								<string>12/16/30</string>
								<key>type</key>
								<string>Developer ID Application</string>
							</dict>
							<key>name</key>
							<string>Installer.xpc</string>
							<key>team</key>
							<dict>
								<key>id</key>
								<string>79Q5RV23F9</string>
								<key>name</key>
								<string></string>
							</dict>
							<key>versionNumber</key>
							<string>2.6.4</string>
						</dict>
					</array>
					<key>name</key>
					<string>Sparkle.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79Q5RV23F9</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>2.6.4</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>com.apple.security.app-sandbox</key>
				<true/>
				<key>com.apple.security.files.user-selected.read-only</key>
				<true/>
				<key>com.apple.security.temporary-exception.mach-lookup.global-name</key>
				<array>
					<string>com.gityeop.FlowClip-spks</string>
					<string>com.gityeop.FlowClip-spki</string>
				</array>
			</dict>
			<key>name</key>
			<string>FlowClip.app</string>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>79Q5RV23F9</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.17</string>
		</dict>
	</array>
</dict>
</plist>
